@model IEnumerable<Job>

    <ul>
    @foreach (var item in Model)
    {
        <li>
            @item.Name + "[" + @item.Owner + "]"
            <ul>
                @foreach (var todo in item.Todos)
                {
                    <li>@todo.Name</li>
                }
            </ul>
        </li>
    }
    </ul>
