@model IEnumerable<Job>

<form method="post" action="/Home/AddTodo">
    Name: <input type="text" name="Name" />
    <input type="submit" value="ADD" />
</form>

<hr/>

<ul>
    @foreach (var item in Model)
    {
        <li>
            @item.Name + "[" + @item.Owner + "]"
            <ul>
                @foreach (var todo in item.Todos)
                {
                    <li>@todo.Name</li>
                }
            </ul>
        </li>
    }
</ul>

